<div class="row">
    <div>
        <img ng-src="images/map.png" title="FOOD" class="img-responsive img-Size image-center"/>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-lg-6">
        </div>
    </div>
</footer>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img ng-src="images/Food.png" alt="Food"/>

            <div class="caption">
                <h3>Food Factory</h3>

                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                    at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <p><a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img ng-src="images/nightlife.png" alt="nightlife"/>

            <div class="caption">
                <h3>Night Life</h3>

                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                    at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <p><a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img ng-src="images/shopping.png" alt="Shopping"/>

            <div class="caption">
                <h3>Shopping</h3>

                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                    at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                <p><a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
        </div>
    </div>
</div>

<footer></footer>


